#Container{
    display:flex;
    
  }
  .option {
    width:250px;
    height: 175px;
    background-color: #71C9FE;
    margin: 10px;
    border-radius: 10px;
  }
  
  #Image img {
    width: 100%;
    object-fit: cover;
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
  }
  
  #content {
    display:flex;
    border: 2px solid green;
    flex-direction:column;
    justify-content: space-between;
  }
  #info {
    border: 2px solid blue;
  }
  #rating {
    border: 2px solid red;
  }
  
  