* {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#Container{
    display:flex;
    
  }
  .option {
    width:250px;
    height: 175px;
    background-color: #71C9FE;
    margin: 10px;
    border-radius: 10px;
  }
  
  #Image img {
    width: 100%;
    object-fit: cover;
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
  }
  
  #content {
    display:flex;
    border: 2px solid green;
    flex-direction:column;
    justify-content: space-between;
    width: 100%;
  }
  #info {
    display:flex;
    border: 2px solid blue;
    justify-content: space-between;
  }
  #rating {
    border: 2px solid red;
    display: flex;
    justify-content: space-between;
  }
  
  .line {
    border: 1px solid  #EBEBEB;
    margin: 10px;
  }

  #info .gift_title {
    font-size: 18px;
    
  }

  #info .gift_description {
    font-size: 14px;
    color: rgb(113, 113, 113);

  }